<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>메인 화면</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="login">
<div class="login-out">
    <div class="login-in clearfix">
        메인 화면 정상 이동. (로그인 설정)
        <div class="login-right">
            <div class="right-bg">
            </div>
        </div>
    </div>
    <div class="logo-box">
    <!-- 세종 -->
        <!--<img src="/img/logo.svg" alt="하단로고"></div>-->
    <!-- 용인 -->
<!--        <img src="/img/logo-kor.svg" alt="하단로고"></div>-->
    <!-- 울산 -->
<!--            <img src="/img/logo2.svg" alt="하단로고"></div>-->
    </div>
</div>

</body>
</html>